@mainBgColor: #282828;

body {
	padding: 0;
	margin: 0;

	background: #4B4B4B;

	font-family: "Helvetica Neue", sans-serif;
	font-size: 1.3em;
	color: rgb(216, 216, 216);
	text-shadow: 0px 1px 0px #313131;
}

.toolbar{
	margin: 0;
	padding: 0.55em 1.5em;
	background-color: rgb(106,106,106);
	background-image: -webkit-linear-gradient(0deg, rgba(102,102,102,1), rgba(102,102,102,0) 50%, rgba(102,102,102,1)),
		-webkit-linear-gradient(#787878 0%, #5B5B5B 100%);
	
	.btn-group{
		display: inline-block;

		margin: 2px 0;
		height: 36px;
		font-size: 0;

		border: 1px solid #131313;
		border-radius: 3px;

		background-color: rgb(67, 67, 67);
		background-image: linear-gradient(#4C4C4C, #3A3A3A 50%, #383838 50%, #414141);
		box-shadow: #7F7F7F 0 1px 0;

		button{
			margin: 0;
			padding: 0 0.85em;
			vertical-align: middle;

			height: 36px;
			min-width: 50px;

			font-size: 18px;
			color: rgb(185, 185, 185);
			text-shadow: rgba(0, 0, 0, 0.2) 0 1px 9px;

			background-color: transparent;
			border: none;

			&:active{
				color: rgb(72, 150, 255);
				background-color: rgba(0, 0, 0, 0.2);
				text-shadow: rgba(93, 211, 255, 0.37) 0 1px 9px;
			}

			&.on {
				color: rgb(72, 150, 255);
				background-color: rgba(0, 0, 0, 0.2);
				text-shadow: rgba(93, 211, 255, 0.37) 0 1px 9px;
			}

			&.newDocument{
				background-image: url("../Plus.png");
				background-size: 50px 36px;
			}
			
			&.springboard:before{
				content: '';
			}

			&:not(:first-child){
				border-left: 1px solid rgba(1, 1, 1, 0.31);
			}
		}
	}
}

main {
	background-color: @mainBgColor;
	display: block;
}

button{
	font-family: "Helvetica Neue", sans-serif;
	font-size:   0.65em;
}

.floatRight {
	float: right;
}
